
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <button onclick="this.innerHTML=Date()">Dagens datum</button> <br/> <br/> <br/>
    <img src="~/bilder/120266369_1202655173450887_3730398834088766379_n.jpg" alt="Welcome" width="800" height="600" />
    <h1></h1>
</body>
</html>
