

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<header>
    <img src="~/bilder/120326387_650530442238245_5308645419939927819_n.jpg" alt="Kontakt" height="470" width="950" />
 
</header>
<body>

</body>
</html>



