

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/MinStil.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<header>        <img src="~/bilder/120271766_1451749551676270_653462686639929819_n.png" alt="Dentist" width="100%" height="48%" />
    </header>
<body>



    <h1 class="hejsan">Välkommen till Dental West </h1>
    <h5 class="hejsan2">Din tandklinik i hjärtat av Trollhättan City</h5>
    <br />
    <table class="CoronaTab" style="width:70%">
        <tr>
            <td id="Corona">
                Hej patient! <br /> Vi hoppas du mår bra under de rådande omständigheterna! Vi följer, precis som du, utvecklingen i världen.
                Vi vill med detta meddelande bara göra dig uppmärksam på att vi håller öppet som vanligt. Vi tar självfallet de rekommenderade försiktighetsåtgärderna och hygienrutinerna på största allvar.
                Om du inte känner dig frisk eller tillhör riskgrupp så hjälper vi dig naturligtvis att omboka din tid.
                Om ni har frågor eller funderingar är ni välkomna att höra av er till oss! Vi vill ge dig, oavsett ålder, denna chans till god tandhälsa.
                Vi ser fram emot att träffa dig, välkommen! <br /> <br />
                /Dental West <br />
            </td>
        </tr>
    </table>
    



</body>
</html>